/* styles.css */

/* Estilos generales */

body {
  font-family: 'Permanent Marker', cursive;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Estilos del header */
  
  header {
    background-color: rgb(6, 6, 53);
    color: #fff;
    padding: 20px;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos del footer */
  
  footer {
    background-image: url("animeimage.jpg");
    color: #00FF00;
    padding: 80px;
    text-align: center;
    text-decoration:underline;
  }
  
  /* Estilos adicionales */
  
  .main-content {
    padding: 20px;
  }
  
  